@{
    ViewBag.Title = "Home Page";
}

<br />
<label for="commandName">Command :</label>
<input type="text" name="commandName" id="commandName" />
<br />
<label for="commandParameters">Parameters : </label>
<input type="text" name="commandParameters" id="commandParameters" />
<br />
<input type="button" value="Send Command" id="btnSendCommand" />

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.0.3.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var requestToken=jQuery.now();
       
        $(document).ready(function () {
            $.connection.hub.logging = true;
            var hub = $.connection.remoteServer;
            $.connection.hub.start().done(function () {
                $('#btnSendCommand').click(function () {
                    
                    hub.server.sendCommand($('#commandName').val(), $('#commandParameters').val(), requestToken++);
                });
            });
            
        });
    </script>
}
