@model TrainingPractices.Models.Person
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section id="list">
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Address</td>
                <td>Remove</td>

            </tr>
        </thead>
        <tbody data-bind="foreach: People">

            <tr>

                <td data-bind="text: Id"></td>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: LastName"></td>
                <td data-bind="text: Address"></td>
                <td ><input type="button" data-bind="click: $root.remove" value="Remove" /></td>

            </tr>

        </tbody>
    </table>
</section>
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <br />
    <input type="button" value="Save" id="save" />
}


@section scripts{
    @Scripts.Render("~/app")

    <script>

        var baseUrl = 'http://localhost:45839/api/Person';

        var person = new Person();
        ko.applyBindings(person, document.body);

        $('#save').click(function (e) {
            $.ajax({
                url: baseUrl,
                type: 'POST',
                data: $('form').serialize()
            }).success(function (data) {
                console.log(data);
            }).error(function (xhr) {
                alert(xhr.responseText);
            });
        });
        person.init();

        $('#btnpost').click(function (e) {
            $.ajax({
                url: baseUrl,
                data: $('form').serialize()
            }).success(function (response) {
                alert(response);
            });
        });


    </script>

}