@model TrainingPractices.Models.Person
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section id="list">
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                @*<td>Address</td>*@
                <td>Married</td>
                <td>Remove</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody data-bind="foreach: People">

            <tr>

                <td data-bind="text: Id"></td>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: LastName"></td>
               @* <td data-bind="text: Address"></td>*@
              <td>  <input type="checkbox" data-bind="checked:IsMarried,click:$root.changeMarried" />

              </td>

                <td >
                    <input type="button" data-bind="click: $root.remove" value="Remove" />

                </td>
                <td >
                    <input type="button" data-bind="click: $root.GetById" value="By Id" />

                </td>
                <td >
                    <input type="button" data-bind="click: $root.GetByFirstName" value="By FirstName" />

                </td>
            </tr>

        </tbody>
    </table>
</section>
@using (Html.BeginForm())
{
    <div data-bind="with:form">
        First Name : <input type="text" name="FirstName" data-bind="value:FirstName" /> <br />
        Last Name : <input type="text" name="LastName"  data-bind="value:LastName" /> <br />
        Address Name : <input type="text" name="Address"  data-bind="value:Address" /> <br />
        Phone Number : <input type="tel" name="PhoneNumber"  data-bind="value:PhoneNumber" /> <br />
        Is Married : <input type="checkbox" name="IsMarried"  data-bind="checked:IsMarried"  />
    </div>
    <br />
    <input type="button" value="Save" id="save" data-bind="click:$root.save" />
}


@section scripts{
    @Scripts.Render("~/app")

    <script>

        var baseUrl = 'http://localhost:45839/api/Person';

        var personVm = new PersonViewModel();
        ko.applyBindings(personVm, document.body);

        personVm.init();

        //$('#save').click(function (e) {
        //    alert($('form').serialize());
        //    $.ajax({
        //        url: baseUrl,
        //        type: 'POST',
        //        contentType:'application/json',
        //        data: $('form').serialize()
        //    }).success(function (data) {
        //        console.log('success:' + data);
        //    }).error(function (xhr) {
        //        alert('error : '+xhr.responseText);
        //    });
        //});
        

        $('#btnpost').click(function (e) {
            $.ajax({
                url: baseUrl,
                data: $('form').serialize()
            }).success(function (response) {
                alert(response);
            });
        });


    </script>

}