<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/Office/MicrosoftAjax.js"></script>
    <script src="~/Scripts/Office/1.0/office.js"></script>
    <script src="~/Scripts/OffQuery.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
