@{
    ViewBag.Title = "PageInspector";
}

<h2>Page Inspector</h2>

<div id="container">

</div>

<input type="button" value="Add" id="btn" />

@section scripts{
<script type="text/javascript">
    $('#btn').click(function (e) {
        $('#container').append($('<div>' + new Date().toString() + '</div>'));
    });
</script>

    }