@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout2</title>
</head>
<body>
    <div>
        This is the other layout2
        <br />
        <br />
        @RenderBody()
    </div>
</body>
</html>
