@{
    ViewBag.Title = "ElementsTest";
}

<h2>ElementsTest</h2>

<a href="search">searchhh</a>

<form action="form">
    <input type="text" />
    <br />
    <input type="submit" value="submit" />
</form>